<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Gaveskyen</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav class="navbar">
    <h2>🎁 Gaveskyen</h2>
    <div>
        <a href="/login">Login</a>
        <a href="/register" class="btn">Opret konto</a>
    </div>
</nav>

<section class="hero">
    <h1>Saml alle dine ønsker ét sted</h1>
    <p>Lav ønskelister, del dem med venner og undgå dobbeltgaver</p>
    <a href="/register" class="big-btn">Kom i gang</a>
</section>


</body>
</html>