<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Login</h2>

<form method="post" action="/login">
    <input name="username" placeholder="Brugernavn" required>
    <input name="password" type="password" placeholder="Kodeord" required>

    <button type="submit">Login</button>
</form>

<p style="color:red;">
    <span th:text="${error}"></span>
</p>

<a href="/register">Opret konto</a>

</body>
</html>