<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav class="navbar">
    <h2>🎁 Gaveskyen</h2>
    <form action="/search" method="GET">
        <input type="text" name="q" placeholder="Søg her...">
        <button type="submit">Søg</button>
    </form>
</nav>

<h2>Login</h2>

<form method="post" action="/login">
    <input name="username" placeholder="Brugernavn" required>
    <input name="password" type="password" placeholder="Kodeord" required>

    <button type="submit">Login</button>
</form>

<p style="color:red;">
    <span th:text="${error}"></span>
</p>

<a href="/register">Opret konto</a>

</body>
</html>