<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Min ønskeliste</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav class="navbar">
    <h2>🎁 Gaveskyen</h2>

    <form action="/search" method="GET">
        <input type="text" name="q" placeholder="Søg her...">
        <button type="submit">Søg</button>
    </form>
    <div>

        <a href="/login">Login</a>
        <a href="/register" class="btn">Opret konto</a>
    </div>
</nav>


<br> <br> <br>

<a href="/add-wish">Tilføj ønske</a>
<a href="/logout">Log ud</a>

<hr>

<div th:if="${wishes == null || #lists.isEmpty(wishes)}">
    <p>Ingen ønsker endnu</p>
</div>

<div th:each="wish : ${wishes}" class="card">
    <h3 th:text="${wish.title}"></h3>
    <p th:text="${wish.description}"></p>

    <a th:href="${wish.link}" target="_blank">Se link</a>

    <br>

    <a th:href="@{/delete-wish(id=${wish.id})}">
        Slet
    </a>
</div>

</body>
</html>